:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.basic.label).toolbarBtn {
  border: none
}

$color-red: #FF0000;

:global(.ui.basic.label).toolbarBtnDanger {
  border: none;
  color: $color-red;
}
